<nav class="navbar">
  <ul id="navBarLinks" class="nav-icons">
      <li>
          <a href="/">
              <i class="bi bi-house"></i>
              <span>Home</span>
          </a>
      </li>
      <li>
          <a href="/calendar">
              <i class="bi bi-chat-dots"></i>
              <span>Calendar</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="bi bi-search"></i>
              <span>Search</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="bi bi-clock-history"></i>
              <span>History</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="bi bi-person"></i>
              <span>Profile</span>
          </a>
      </li>
  </ul>
</nav>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Custom JS -->
</body>
</html>