<% layout('layouts/boilerplate') %>
<div class="container">
  <h1>Workout Logger</h1>
  <label for="yearSelect">Select Year:</label>
  <select id="yearSelect"></select>
  <div id="monthsGrid" class="calendar-container">
    <div id="0" class="month">
      <div class="month-header">Janeiro</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="1" class="month">
      <div class="month-header">Fevereiro</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="2" class="month">
      <div class="month-header">Março</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="3" class="month">
      <div class="month-header">Abril</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="4" class="month">
      <div class="month-header">Maio</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="5" class="month">
      <div class="month-header">Junho</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="6" class="month">
      <div class="month-header">Julho</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="7" class="month">
      <div class="month-header">Agosto</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="8" class="month">
      <div class="month-header">Setembro</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="9" class="month">
      <div class="month-header">Outubro</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="10" class="month">
      <div class="month-header">Novembro</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
    <div id="11" class="month">
      <div class="month-header">Dezembro</div>
      <div class="days-container">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
      </div>
      <div class="dates-container"></div>
    </div>
  </div>
</div>
<script src="/js/calendar.js"></script>
<%- include('partials/footer') %>
