<% layout('layouts/boilerplate') %>
<H1>Login</H1>
<form action="/login" method="POST" class="validated-form">
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="username">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
    </div>
    <button class="btn btn-success">Login</button>
</form>
